// Import all of Bootstrap's CSS
@use "bootstrap/scss/bootstrap";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";


/* Fix Reveal.js global styles leaking */
.reveal-container {
    background: #222; /* Dark background only for the slide preview */
    padding: 1rem;
}


.gutter {
    background-color: $gray-300; 
    cursor: col-resize;
    width: 8px;
  
    &:hover {
      background-color: $gray-400;
    }
  }

  .Split {
    height: 100%;
  }
  .Split .gutter {
    background-color: $gray-300;
    cursor: col-resize;
  }
  

  .slide-editor-container {
    height: 100%;
    max-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 0;
    background-color: $gray-300;
  }
  

  /*.cm-scroller {
    flex: 1 1 auto;
    min-height: 0 !important;
    max-height: 100%;
    overflow: auto !important;
  }*/

  

  .editor-wrapper {
    min-height: 0;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    display: flex;
  }
  